<div class="grid grid-flow-col auto-cols-fr h-screen" style="height: 91vh">
  <div class="p-10 overflow-scroll" style="height: 100%;
    overflow: scroll;">
    <h2 class="mb-10">Overall</h2>
    <ul>
      <li *ngFor="let read of reads | slice:0:1" [ngClass]="{'bg-blue-500 text-gray-200': currentRead == read.id}"
          class="border list-none rounded-sm  mb-5 w-9/12 cursor-pointer hover:bg-green-300 focus-visible:font-black"
          (click)="openRead(read.id)">
        <div class="h-1 relative overflow-hidden">
          <div class="w-full h-full bg-gray-200 absolute"></div>
          <div class="h-full bg-green-300 absolute" [ngStyle]="{width: '40%'}"></div>
        </div>
        <div class="px-3 py-3">Artikel - Preiskampf Schnelltests Overall</div>
      </li>
    </ul>
    <h2 class="mb-10">Single Reads</h2>
    <ul>
      <li *ngFor="let read of reads | slice:1" [ngClass]="{'bg-blue-500 text-gray-200': currentRead == read.id}"
          class="border list-none rounded-sm  mb-5 w-9/12 cursor-pointer hover:bg-green-300 focus-visible:font-black"
          (click)="openRead(read.id)">
        <div class="h-1 relative overflow-hidden">
          <div class="w-full h-full bg-gray-200 absolute"></div>
          <div class="h-full bg-green-300 absolute" [ngStyle]="{width: (read.readAccuracy * 100) + '%'}"></div>
        </div>
        <div class="px-3 py-3">{{ read.title }}</div>
      </li>
    </ul>
  </div>
  <div class="pl-10 pr-10 border-l-2 border-blue-500 overflow-scroll " style="height: 100%;">
    <ng-container *rerender='highlightData'>
      <article1></article1>
    </ng-container>
  </div>
</div>

