<div (click)="sendRequest()" class="pl-10 pr-10 mb-20">
  <article class="article js-article" itemscope="" itemtype="https://schema.org/Article">
    <h1>Preiswettbewerb um Schnelltests</h1>
    <p>Die Antigen-Schnelltests sind zwar noch für alle gratis – aber kosten tun sie den Bund schon jetzt: 50 Millionen
      Franken pro Woche. Schon bald sollen Ungeimpfte mit 47 Franken pro Test selber dafür aufkommen. Doch es geht auch
      günstiger.</p>
    <section class="article-content" itemprop="articleBody">
      <!--googleon: all-->
      <p>Seit heute ist klar: Noch bis und mit dem 10 Oktober übernimmt der Bund die Kosten für Antigen-Schnelltests.
        Auch für diejenigen, die zum Zertifikat berechtigen. Jene, die bereits ein Mal geimpft sind, sollen sich bis
        Ende
        November weiter gratis testen lassen können. Doch danach könnte es für Ungeimpfte bald teuer werden. Ein
        Antigen-Schnelltest in der Apotheke oder im Testzentrum kostet ungefähr 50 Franken.</p>
      <p class="mb-20">Das BAG berechnet die effektiv anfallenden Kosten eines Schnelltests auf 47 Franken. So viel vergütet der Bund
        den Apotheken und Testzentren pro durchgeführten Test. Das kostet – und zwar satte 50 Millionen Franken pro
        Woche.
        Bezahlt vom Bund, also den Steuerzahlenden. Es sei aber nicht Aufgabe der Allgemeinheit, die Testkosten für
        Personen zu finanzieren, die sich nicht impfen lassen, sagte Gesundheitsminister Alain Berset heute an der
        Medienkonferenz des Bundesrates.</p>

      <figure class="image-figure mt-25 rounded" data-app-image="">
        <div class="image rounded" data-app-image-url="https://www.srf.ch/static/cms/images/1280w/e22bfe.jpg"><img
          class="image-figure__image rounded" alt="" title="" src="https://www.srf.ch/static/cms/images/960w/e22bfe.jpg"
          srcset="https://www.srf.ch/static/cms/images/160w/e22bfe.jpg 160w, https://www.srf.ch/static/cms/images/320w/e22bfe.jpg 320w, https://www.srf.ch/static/cms/images/480w/e22bfe.jpg 480w, https://www.srf.ch/static/cms/images/640w/e22bfe.jpg 640w, https://www.srf.ch/static/cms/images/960w/e22bfe.jpg 960w, https://www.srf.ch/static/cms/images/1280w/e22bfe.jpg 1280w"
          sizes="(min-width: 790px) 790px, 100vw" pinger-seen="true"></div>

        <div class="media-caption ">

        <span class="media-caption__description text-xs" data-app-image-description="">
            So kalkuliert der Bund die Kosten für die Durchführung eines Antigen-Schnelltests.
        </span>

        </div>
      </figure>
      <h2>Test für die Hälfte</h2>
      <p>Während das BAG mit 47 Franken pro Test rechnet, zeigen private Anbieter, dass es auch günstiger geht, sobald
        durch die Zahlungspflicht ein Wettbewerb entsteht. Zum Beispiel die Olma in St Gallen. Die Publikumsmesse findet
        genau während der Übergangsphase von Gratistests zu kostenpflichtigen Tests statt. Ab dem 10 Oktober gibt’s hier
        drum einen Corona-Schnelltest für 26.50 Franken – also etwas mehr als die Hälfte des Preises, den der Bund
        vorrechnet. Wie ist das möglich? </p>

      <p>Das habe mit der Menge zu tun, sagt die Direktorin der Olma Messen St Gallen, Christine Bolt. «Während der Olma
        werden wir hier Tausend Leute pro Tag testen. Darum konnten wir mit unserem Testpartner einen attraktiven Preis
        aushandeln.» Die Besucherinnen und Besucher erhalten das offizielle Covid-Zertifikat. Das Testangebot ist aber
        nicht für alle offen und gilt nur gemeinsam mit einem Eintrittsticket.</p>
      <p>
        Ein weiterer günstiger Anbieter findet sich nicht weit von der Olma: das Corona-Testcenter St Gallen. Momentan
        würden alle Tests noch mit 47 Franken dem Bund abgerechnet, sagt der Projektmanager des Centers, Michael
        Wohlgenannt. Doch: «Wir haben das Potenzial, Kosten einzusparen». Wie hoch der Preis ab dem 10 Oktober dann sein
        soll, sei im Moment aber noch offen.</p><a id="toc_2"></a>
      <h2>Das Prinzip funktioniert für Apotheken nicht</h2>
      <p class="mb-20">Für den Apothekerverband des Kantons Zürich ist klar: So günstig können die Apotheken Schnelltests nicht
        anbieten. Bei einer Massentestung vor einer Veranstaltung könne man viel effizienter arbeiten als in dezentralen
        Apotheken oder Praxen, sagt der Präsident des Apothekerverbands des Kantons Zürich, Lorenz Schmid. «26 Franken
        sind extrem wenig, das könnte ich in meiner Preisstruktur niemals anbieten»</p>
      <div class="js-media" data-app-video="" tabindex="0"
           data-href="/play/tv/_/video/_?id=e0e6befb-46df-461f-ab20-5df37a1a7e29&amp;urn=urn:srf:video:e0e6befb-46df-461f-ab20-5df37a1a7e29&amp;aspectRatio=16_9"
           id="article-media__urn-srf-video-e0e6befb-46df-461f-ab20-5df37a1a7e29_379259" data-mediatype="video"
           data-assetid="urn:srf:video:e0e6befb-46df-461f-ab20-5df37a1a7e29" data-js-plugin="letterbox">

        <div class="medium  medium--vertical    js-medium-hover js-medium-with-availability" itemscope=""
             itemtype="http://schema.org/VideoObject">
          <meta itemprop="name" content="PCR-Tests sind in der Schweiz teurer">
          <meta itemprop="uploadDate" content="2021-09-24">
          <meta itemprop="description" content="PCR-Tests sind in der Schweiz teurer">

          <meta itemprop="datePublished" content="2021-09-24T19:30:00+02:00" data-js-plugin="asset-availability"
                data-text-blocked="Video verfügbar ab 24.09.2021 um 19:30 Uhr">


          <meta itemprop="thumbnailUrl"
                content="https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png">

          <div class="medium__object">
            <div class="media-still media-still--video  player-wrapper js-player-wrapper"
                 id="player-wrapper__urn-srf-video-e0e6befb-46df-461f-ab20-5df37a1a7e29_379259">
              <div class="media-still__image" aria-hidden="true" role="presentation">

                <div class="image image--media-still-video"
                     data-app-image-url="https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/1280">
                  <img class="image-figure__image rounded" alt="PCR-Tests sind in der Schweiz teurer"
                       title="PCR-Tests sind in der Schweiz teurer"
                       src="https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/960"
                       srcset="https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/160 160w, https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/320 320w, https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/480 480w, https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/640 640w, https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/960 960w, https://ws.srf.ch/asset/image/audio/39fe7e0f-3493-40d9-9a96-11a2090aa0c8/EPISODE_IMAGE/1632507257.png/scale/width/1280 1280w"
                       sizes="(min-width: 790px) 790px, 100vw" pinger-seen="true"></div>
              </div>

              <div class="media-still__icon" aria-hidden="true" role="presentation">
                <div class="play-icon"></div>
              </div>
            </div>
          </div>

          <div class="medium__caption text-xs" role="text">
            <div class="media-caption media-caption--video ">
              <div class="media-caption__title">PCR-Tests sind in der Schweiz teurer</div>

              <div class="media-caption__source media-caption__source--video text-xs">
                Aus <strong>Tagesschau</strong> vom 24.09.2021.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--googleoff: all-->
    </section>


  </article>
</div>
